.main{
    width: 400px;
    margin: auto;
    margin-top: 60px;
    display: flex;
}

.items{
    width: 400px;
    margin: auto;
    display: flex;
}

#success, #fail, #draw{
    display: none;
}

img:hover{
    transform:scale(0.9);
}